.payment-container {
  max-width: 800px;
  padding: 20px;
}

.payment-container-h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.payment-container-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.payment-container-thead {
  background-color: #f2f2f2;
}

.payment-container-th, .payment-container-td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.payment-container-td {
  padding-left: 20px;
}
.payment-container-th {
  background-color:  #3B71CA;
  color: white;
}

.payment-container-tbody tr:hover {
  background-color: #f2f2f2;
}

.link :hover{
  cursor: pointer;
  color:  #3B71CA;
  text-decoration: underline;
}
