
.canvas{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

button {
    /* margin: 20px; */
    padding: 10px 20px;
    font-size: 16px;
}

.h2cot {
    font-size: calc(1.325rem + 0.9vw);
    margin-top: 6%;
}
.button-container{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

}

.canvas {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.button-container {
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .canvas {
        padding: 10px;
    }
}