html {
  --top-spacing: 500px;
  scroll-padding-top: var(--top-spacing);
}

body {

  margin: 0 !important;
  /* font-family: 'Arial', 'sans-serif'; */
  text-align: center;
}

.gift-container {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-auto-rows: 300px;
  margin: 5% 5% 5% 5%;
}

.shearch{
  font-size: 100%;
}


.gift-container>div {
  display: flex;
  align-items: end;
  border: solid black;
  font-size: 2em;
  color: #ffffff;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  border-radius: 2%;
  /* box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px; */
}

.gift-card img,
.gift-container>div>img {
  width: 100%;
  border-radius: 2%;
  height: 50%;
  object-fit: cover;
  align-items: flex-end;
  transition: all 0.5s linear;

}

img:hover,
img:focus,
img:active {
  transform: scale(1.05);
}

.gift-container>div>p {
  font-size: 45%;
  margin: 2%;
  color: black;
  width: 95%;
  align-items: flex-start;
}


.gift-card>h1,
.grid-container>div>h1 {
  font-size: 65%;
  /* margin: 3% */
  color: black;
  width: 100%;

}

@media screen and (max-width: 600px) {
  .gift-container {
    width: 80%;
    margin-top: 70%;
    margin-left: auto;
    margin-right: auto;

  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.8);
  /* צבע רקע אפור בהיר עם שקיפות */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 1000;
  /* לוודא שהמודל מעל לכל תוכן אחר */
}


.modal {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 60%;
  /* רוחב בינוני */
  text-align: left;
  /* ליישור טקסט לשמאל */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal h2 {
  margin-top: 0;
}

.modal label,
.modal input,
.modal-buttons {
  /* display: block; */
  width: 90%;
  margin-bottom: 10px;
}

.file{
  background-color: white;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.modal input {
  padding: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  margin-top: 10px;
  padding: 5px 10px;
}

.searchContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 3%;
  width: 600px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}