html {
  --top-spacing: 500px;
  scroll-padding-top: var(--top-spacing);
}

/* body {

  margin: 0 !important;
  text-align: center;
} */
#root {
  background-color: white;
  /* height: 100%;
  width: 100%;
  padding: 0%; */
  }
  
.gift-containers {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-auto-rows: 300px;
  margin: 5% 5% 5% 5%;
}

.shearch{
  font-size: 100%;
 
}
.h2{
  color: black;
}

.gift-containers>div {
  display: flex;
  align-items: end;
  border: solid black;
  /* font-size: 25px; */
  color: #ffffff;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  border-radius: 2%;
  /* box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px; */
}

.gift-card img,
.gift-containers>div>img {
  width: 100%;
  border-radius: 2%;
  height: 50%;
  object-fit: cover;
  align-items: flex-end;
  transition: all 0.5s linear;

}

img:hover,
img:focus,
img:active {
  transform: scale(1.05);
}

.gift-containers>div>p {
  /* font-size: 45%; */
  margin: 2%;
  color: black;
  width: 95%;
  align-items: flex-start;
}


.gift-card>h1,
.grid-container>div>h1 {
  padding-top: 3%;
  /* font-size: 65%; */
  /* margin: 3% */
  color: black;
  width: 100%;

}

@media screen and (max-width: 600px) {
  .gift-containers {
    width: 80%;
    margin-top: 70%;
    margin-left: auto;
    margin-right: auto;

  }
}

.modal-x-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.8);
  /* צבע רקע אפור בהיר עם שקיפות */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 1000;
  /* לוודא שהמודל מעל לכל תוכן אחר */
}
.ripple-surface {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 20%;
}
.centerB{
  margin-left: 40% !important;
  margin-left: auto;
  margin-right: auto;
}
.modal-x {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 70%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.modal-x h2 {
  margin-top: 0;
}

.modal-x label,
.modal-x input,
.modal-x-buttons {
  /* display: block; */
  width: 90%;
  margin-bottom: 10px;
}

.file{
  background-color: white;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.modal-x input {
  padding: 5px;
}

.modal-x-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-x-buttons button {
  margin-top: 10px;
  padding: 5px 10px;
}

.searchContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 3%;
  width:40%;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 90px;
}
.gift-lottery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 8%;
  padding: 20px;
}
.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
  color: #999999;
}

.dropzone img {
  max-width: 100%;
  max-height: 150px;
  margin-top: 10px;
}
