/* General Styles */
.order-management {
  position: relative;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  /* margin-top: 80px; Reset margin-top to 0 */
}

.order-management h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.order-management .gift-list,
.order-management .saved-cart {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Include padding in width calculation */
  margin-bottom: 20px;
}

.order-management .gift-list h2,
.order-management .saved-cart h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.order-management .gift-card-cart {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.order-management .gift-card-cart input[type="checkbox"] {
  position: absolute; /* כפול פירוט */
  top: 10px;
  left: 10px;
}
.order-management .gift-card-cart img {
  width: 100%;
  height: auto;
  max-width: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
}

.order-management .gift-card-cart h1 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
  text-align: center;
}

.order-management .gift-card-cart h1,
.order-management .gift-card-cart h2 {
  font-size: 16px;
}

.order-management .gift-card-cart input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.order-management .btnDelete-cart {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  position: relative;
}

.order-management .btnDelete-cart:hover {
  background-color: #ff1a1a;
}

.order-management .btn-buy {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-bottom: 20px;
}

.order-management .btn-buy:hover {
  background-color: #45a049;
}

.order-management .order-summary {
  /* background-color: #f7f7f7; */
  /* border: 1px solid #ddd; */
  /* border-radius: 8px; */
  padding-left: 20px;
  /* padding-right: 20px; */
  padding-top: 0px;
  width: 100%;
  box-sizing: border-box;
  /* position: fixed; */
  /* margin-top: 30%; */
  z-index: 1000;
}

.order-management .order-summary h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.order-management .order-summary p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.order-management .order-summary .summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-management .modal {
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.order-management .modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 300px;
}

.order-management .modal-content h2 {
  margin: 0 0 20px 0;
}

.order-management .modal-content button {
  margin: 10px 5px;
  padding: 10px 20px;
}

.order-management .tooltip {
  position: relative;
  display: inline-block;
}

.order-management .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.order-management .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Media Queries for Responsiveness */
@media (max-width: 900px) {
  .order-management .order-summary {
    position: relative;
  }
}

@media (max-width: 600px) {
  .order-management .btn-buy {
    padding: 8px 16px;
    font-size: 14px;
  }

  .order-management .gift-card-cart h1 {
    font-size: 16px;
  }

  .order-management .gift-card-cart input[type="number"] {
    width: 50px;
    font-size: 14px;
  }

  .order-management .order-summary .summary-container {
    flex-direction: column;
  }

  .order-management .order-summary .summary-container p,
  .order-management .order-summary .summary-container button {
    margin-bottom: 10px;
  }
}




.order-management h3 {
  font-size: 16px;
}

.order-management .text-navy {
  color: #1ab394;
  font-size: 30px;
}

.order-management .cart-product-imitation {  
  width: 0px;
}

.order-management .product-desc {
  padding: 20px;
  position: relative;
}

.order-management .table-responsive {
  margin-bottom: 0;
  overflow: hidden;
}

.order-management .table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}

.order-management .table.shoping-cart-table tr td.desc,
.order-management .table.shoping-cart-table tr td:first-child {
  text-align: left;
}

.order-management .table.shoping-cart-table tr td:last-child {
  width: 80px;
}

.order-management .ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.order-management .ibox.collapsed .ibox-content {
  display: none;
}

.order-management .ibox-title {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.table-responsive {
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}
.order-management .ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 1px 0;
}

.order-management .ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.custom-width {
  width: 48px !important; /* The !important flag ensures this style takes precedence */
  height: 30px !important;
}
