.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 55vw;
  height: 70vh;
  z-index: 1050;
  background-color: white;
  border-radius: 40px;
  border-color: #3B71CA;

}

.modal-dialog {
  max-width: 600px;
  width: 90%;
}

.modal-content {
  padding: 20px;
  border: 1px solid #888;
  max-height: 60vh; /* Smaller height */
  overflow-y: auto; /* Scrollbar */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) !important;
  border-radius: 20px; /* Rounded borders */
  background-color: rgba(255, 255, 255, 0.8) !important; /* Light background with transparency */
  width: 50vw !important;
  height: 70vh;
  color: white; /* White text */
}

.btn-close {
  color:black !important;/* White color for close button */
  margin-left: 50px;
}

.btn-close:hover,
.btn-close:focus {
  color: black;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-header h5 {
  margin: 0;
  color: #333;
}

.modal-body {
  padding-bottom: 20px;
}

.order-info,
.user-info,
.gifts-info {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  color: #333;
}

.order-info h6,
.user-info h6,
.gifts-info h6 {
  margin-bottom: 10px;
  color: #3B71CA;
}

.gift-item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.gift-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}
