.modal-package-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-package {
  position: relative; /* Add relative positioning */
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.modal-package h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal-package p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee; /* subtle bottom border */
  padding-bottom: 8px; /* space between paragraphs */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-package button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff; /* blue button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-package button.cancel {
  background-color: white; /* red cancel button color */
  color: #c82333;
  position: absolute; /* Add absolute positioning */
  top: 0px; /* Adjust position to the top */
  right: -10px; /* Adjust position to the right */
}


.modal-package button:focus {
  outline: none; /* remove focus outline */
}

.modal-package span {
  color: #c82333;
  font-weight: bold;
}
