.payment-container {
  width: 100%;
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
}

.user-form-container {
  width: 100%;
}

.order-summary-container {
  width: 100%;
}

.steps-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.step-indicator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.step-indicator.active {
  background-color: lightblue;
}

.field1 {
  margin-bottom: 1rem;
}

.field2 {
  margin-bottom: 1rem;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
}
