
.order-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}
.emptyCart{
  width: 100% !important;
  height: 100% !important;
  margin-top: 55px;


}
h1{
  padding: 10px;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--mdb-modal-header-padding);
  border-bottom: var(--mdb-modal-header-border-width) solid var(--mdb-modal-header-border-color);
  border-top-left-radius: var(--mdb-modal-inner-border-radius);
  border-top-right-radius: var(--mdb-modal-inner-border-radius);
  height: 6%;
  padding: 10px !important;
}
.btnb{
  margin-top: 5px;
  margin-left: auto !important;
  margin-bottom: 5px;
  margin-right: auto !important;

}

.order-list.open {
  transform: translateX(0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.orders {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders li {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

.orders img {
  width: 50px;  
  height: 50px; 
  object-fit: cover; 
  margin-right: 1em;
  border: 1px solid #ccc; 
}

.gift-info {
  flex: 1;
}

.gift-info p {
  margin: 0;
}
